body {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 30px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calc-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 10px;
}

.btn {
  background-color: rgb(94, 94, 216);
  color: white;
  border-radius: 15px;
  font-size: 48px;
  text-align: center;
  padding: 10px;
  border: none;
  cursor: pointer;
  min-width: 120px;
  box-shadow: 5px 5px 5px black;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:active {
  transform: translate(2px, 2px);
}

.btn:focus {
  outline: none;
  border: 2px solid rgb(94, 94, 216);
}

input {
  box-shadow: 5px 5px 5px black;
  width: 200px;
  border: 1px solid rgb(94, 94, 216);
  border-radius: 15px;
  color: rgb(94, 94, 216);
  font-size: 48px;
}

input:focus,
input:active {
  outline: none;
  border: 2px solid rgb(94, 94, 216);
}

select {
  box-shadow: 5px 5px 5px black;
  font-size: 48px;
  border-radius: 15px;
  border: 1px solid rgb(94, 94, 216);
  color: rgb(94, 94, 216);
  font-weight: 700;
  width: 70px;
}

select:focus,
select:active {
  border: 2px solid rgb(94, 94, 216);
  outline: none;
}

.result {
  font-family: inherit;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  text-wrap: auto;
  min-height: 140px;
  color: rgb(94, 94, 216);
}

@media (max-width: 1200px) {
  .btn {
    font-size: 40px;
    height: 50px;
    min-width: 100px;
  }

  input,
  select {
    font-size: 40px;
    width: 180px;
  }

  .result {
    font-size: 50px;
    min-height: 120px;
  }
}

@media (max-width: 992px) {
  .btn {
    font-size: 32px;
    height: 45px;
    min-width: 90px;
  }

  input,
  select {
    font-size: 32px;
    width: 160px;
  }

  .result {
    font-size: 40px;
    min-height: 100px;
  }
}

@media (max-width: 768px) {
  .btn {
    font-size: 28px;
    height: 40px;
    min-width: 80px;
  }

  input,
  select {
    font-size: 28px;
    width: 140px;
  }

  .result {
    font-size: 36px;
    min-height: 90px;
  }
}

@media (max-width: 576px) {
  .btn {
    font-size: 24px;
    height: 35px;
    min-width: 70px;
  }

  input,
  select {
    font-size: 24px;
    width: 120px;
  }

  .result {
    font-size: 30px;
    min-height: 80px;
  }
}

@media (max-width: 400px) {
  .btn {
    font-size: 20px;
    height: 30px;
    min-width: 60px;
  }

  input,
  select {
    font-size: 20px;
    width: 100px;
  }

  .result {
    font-size: 24px;
    min-height: 60px;
  }
}
